@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.form-group {
    padding-left: 170px;
    padding-top: 50px;
}

.container-fluid {
    background-color: coral;
}

.container {
    margin-top: 200px;
    background-color: rgb(248, 167, 67);
    width: 900px;
    height: 300px;
}

h2 {
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: 'Honk', 'system-ui';
}

.btn:hover {
    background-color: white;
    color: rgb(255, 23, 62);
    font-weight: bold;
}

p {
    font-weight: bolder;
    color: black;
    font-size: large;
}

#header {
    height: 80px;
    position: static;
}

#about {
    padding-left: 100px;
}

#result {
    padding-top: 40px;
    padding-left: 170px;
}